<%= link_to profile_path(profile), target: '_top' do %>
  <div class="flex align-items-start my-2 px-1 lg:px-5 py-1 border border-white hover:border-gray-300 rounded-lg">
    <div class="grow flex items-center py-2">
      <p style="text-wrap: nowrap">
        <%= non_breaking(['ðŸ‘¤', profile.designation].join('Â Â Â Â ')) %>
      </p>
    </div>
    <div class="hidden lg:block" style="flex: 0 0 40%; width: 40%; overflow: hidden;">
      <p><%= non_breaking(['âœ‰ï¸', profile.email.presence].join('Â Â Â Â ')) %></p>
      <p><%= non_breaking(['ðŸ“ž', profile.phone.presence].join('Â Â Â Â ')) %></p>
    </div>
  </div>
<% end %>
