<div class="flex justify-between mb-5">
  <%= render 'search', search_url: profiles_path, filter_url: new_profile_filter_path(search: params[:search],
                                                                                      category: params[:category],
                                                                                      birthdays: params[:birthdays]) %>
  <%#= render layout: 'shared/options', locals: { page_header: true } do %>
    <%#= link_to t('profiles.create_new'), new_profile_path, class: 'text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
    <%#= link_to t('profiles.export'), '#', class: 'text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
    <%#= link_to t('profiles.import'), '#', class: 'text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
  <%# end %>
</div>
<ul>
  <% if @profiles.count.zero? %>
    <p> No Profiles found</p>
  <% else %>
    <%= turbo_frame_tag :profiles do %>
      <% @profiles.each do |profile| %>
        <li>
          <%= render 'card', profile: profile %>
        </li>
      <% end %>
      <% if @pagy.next %>
        <%= turbo_frame_tag :profiles, loading: :lazy, src: url_for(only_path: false, params: { page: @pagy.next }.merge(request.query_parameters.except(:page))) do %>
          <div class="spinner-container">
            <i class="fas fa-circle-notch fa-spin"></i>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</ul>
