<%= turbo_frame_tag :tree do %>
  <div id="family-tree"
       data-controller="tree-creator"
       data-initial-id="<%= params[:profile_id] %>"
       data-id="<%= params[:profile_id] %>"
       data-family-tree="<%= @data.to_json %>">
  </div>
<% end %>
