<%= turbo_frame_tag :family_tree do %>
  <div id="family-tree"
       data-controller="family_tree_creator"
       data-id="<%= params[:profile_id] %>"
       data-family-tree="<%= @data.to_json %>">
  </div>
<% end %>
