<%= render layout: 'shared/outline_card', locals: { close_if_click_out: false } do %>
  <%= form_with model: [:outlines, :profile, couple] do |form| %>
    <div class="flex flex-col justify-between items-center my-5">
      <%= form.select :status, couple_status_attribute_options(couple.status), {}, class: 'w-full rounded' %>
    </div>
    <div class="actions">
      <%= form.submit t('submit'), class:'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer' %>
    </div>
  <% end %>
<% end %>
