<div id="family-tree"
     data-controller="tree-creator"
     data-initial-id="<%= id %>"
     data-id="<%= id %>"
     data-degraded-mode="off"
     data-show-gender="off"
     data-show-deceased="off"
     data-family-tree="<%= data %>">
</div>
