<div id="tree-data"
     data-controller="tree-creator"
     data-initial-id="<%= id %>"
     data-id="<%= id %>"
     data-tree-creator-error-value="<%= !data.kind_of?(Array) %>"
     data-family-tree="<%= data %>">
</div>
