<% is_active = request.url.split('?')[0] == url.split('?')[0] %>
<div class="grow lg:mx-0 mx-1">
  <% if is_active %>
    <%= render 'shared/navbar/buttons', category: category, is_active: is_active  %>
  <% else %>
    <%= link_to url do %>
      <%= render 'shared/navbar/buttons', category: category, is_active: is_active  %>
    <% end %>
  <% end %>
</div>
