@tailwind base;
@tailwind components;
@tailwind utilities;

/* FOR FLOATING FORM FIELD : https://notiz.dev/blog/floating-form-field-with-tailwindcss */
input, textarea {
  --tw-ring-shadow: 0 0 #000 !important;
}

input:focus-within ~ label {
  @apply transform scale-75 -translate-y-6 text-blue-500;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6;
}

input:focus-within ~ label {
  @apply text-blue-500;
}

textarea:focus-within ~ label {
  @apply transform scale-75 -translate-y-6 text-blue-500;
}

textarea:focus-within ~ label,
textarea:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6;
}

textarea:focus-within ~ label {
  @apply text-blue-500;
}

select:focus-within ~ label {
  @apply transform scale-75 -translate-y-6 text-blue-500;
}

select:focus-within ~ label,
select:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6;
}

select:focus-within ~ label {
  @apply text-blue-500;
}

/* FOR FLOATING FORM FIELD - END */

.my-8 {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}


/* TAILWIND BUILDER AND FORMS */

.actions {
  @apply my-2;
}

h2 {
  @apply font-bold;
}

/* TAILWIND BUILDER AND FORMS - END */

/* SOLID JS FAMILY TREE CREATOR */

.solid__app__root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

/* with turbo family_tree
 -25px; */
.solid__app__header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
}

.solid__app__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
}

.solid__app__wrapper {
  flex: 1;
}

.solid__app__tree {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.solid__app__reset {
  width: fit-content;
  padding: 4px 10px;
  line-height: 1;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.solid__node__id {
  user-select: none;
  cursor: default;
  color: white;
  font-size: 7px;
  line-height: 1;
  opacity: .7;
  height: fit-content;
  line-break: normal;
  max-height: 30%;
  overflow: hidden;
  word-break: break-word;
}

.solid__node__root {
  position: absolute;
  display: flex;
  padding: 10px;
}

.solid__node__inner {
  cursor: pointer;
  display: flex;
  align-items: end;
  flex: 1;
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: 10px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.solid__node__isRoot {
  -webkit-box-shadow: 4px -4px 1px 0px #c3c4c8, -2px 2px 1px 0px #c3c4c8;
  box-shadow: 4px -4px 1px 0px #c3c4c8, -2px 2px 1px 0px #c3c4c8;
}

.solid__node__isMale {
  -webkit-box-shadow: 0px 0px 0px 4px cornflowerblue;
  box-shadow: 0px 0px 0px 4px cornflowerblue;
}

.solid__node__isFemale {
  -webkit-box-shadow: 0px 0px 0px 4px indianred;
  box-shadow: 0px 0px 0px 4px indianred;
}

.solid__node__isDeceased:before {
  position: absolute;
  left: 34px;
  top: 4px;
  content: ' ';
  height: 72px;
  width: 2px;
  background-color: darkred;
  transform: rotate(40deg);
}

/* cross */
/* .solid__node__isDeceased:before {
}
.solid__node__isDeceased:after {
  transform: rotate(-45deg);
} */

.solid__node__sub {
  position: absolute;
  bottom: 2px;
  left: 10px;
  width: 25px;
  height: 10px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0 4px;
  cursor: pointer;
  background: rgb(229 231 235);
  line-height: 0;
  font-size: x-small;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solid__pinchzoompan__root {
  position: relative;
  transform: translateZ(0);
  overflow: hidden;
}

.solid__pinchzoompan__point {
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(0, 0) scale(1);
  transform-origin: center;
  will-change: transform;
}

.solid__pinchzoompan__canvas {
  position: absolute;
  transform: translate(-50%, -50%);
}

.solid__tree__root {
  background: #fff;
  margin-top: 3rem;
}

/* SOLID JS FAMILY TREE CREATOR - END */

/* SLIM SELECT  */

.ss-main {
  @apply w-full border-gray-500 py-2 px-3 !important;
}

#outline-turbo {
  @apply overflow-auto z-20 w-[85vw] m-8 md:w-fit lg:w-fit min-w-[300px] max-h-[80vh] lg:max-h-[85vh] absolute right-0 top-[96px] lg:top-[112px];
}
