<div class="w-full lg:w-6/12 h-auto p-2 lg:pb-2 pb-5 flex flex-col justify-center items-center lg:items-start">
  <div class="lg:pl-10 pl-0">
    <%= image_tag "#{svg_tag}.svg", size: "80x60" %>
  </div>
  <h1 class="text-center font-semibold mt-4 text-xl"><%= title %></h1>
  <p class="lg:text-left text-center"><%= description %></p>
</div>
