<ol>
  <li>graph</li>
  <li>table</li>
  <li>family tree</li>
  <li>filters</li>
  <li>advanced family tree creation (ie. Paul cousing from father side, parents: Marie and Stefan)</li>
  <li>relation analysis with degree of separation</li>
  <li>.. all coming soon!</li>
</ol>
